<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-0">
      <li class="nav-item my-0">
        <a class="nav-link py-0" href="#">New posts</a>
      </li>
      <li class="nav-item dropdown my-0">
        <a
          class="nav-link dropdown-toggle py-0"
          href="#"
          id="findThreadsDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Find threads
        </a>
        <ul class="dropdown-menu" aria-labelledby="findThreadsDropdown">
          <li><a class="dropdown-item" href="#">By date</a></li>
          <li><a class="dropdown-item" href="#">By popularity</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link py-0" href="#">Watched</a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-0" href="#">Search forums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-0" href="#">Mark forums read</a>
      </li>
    </ul>
  </div>
</nav>
